<ul class="list-unstyled">
  <table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">WORD</th>
        <th class="text-center">DESCRIPTION</th>
        <th class="text-center">USER</th>
    </tr>
    <% words.each do |word| %>
      <tr>
        <td>
          <%= word.content %> <br>
          <% if current_user == word.user %>
            <%= link_to "Delete", word, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% else %>
            <%= render 'favorites/like_button', word: word %>
          <% end %>
        </td>
        <td>
          <%= word.description %>
        </td>
          <td>
          <!--
          <a href="<%= user_path(word.user) %>"> <img class="rounded" src="<%= gravatar_url(word.user, { size: 50 }) %>" alt=""> </a> 
          <br>
          -->
          <%= link_to word.user.name, user_path(word.user) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate words %>
</ul>
